@font-face {
  font-family: "nf";
  src: url("./fonts/IRANSansMobile.ttf");
}

@font-face {
  font-family: "mf";
  src: url("./fonts/IRANSansMobile_Medium.ttf");
}

@font-face {
  font-family: "bf";
  src: url("./fonts/IRANSansMobile_Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  direction: rtl;

  --primary-color: #c1272d;
  --secondary-color: #fbcf1d;
  --bg-color: #eeeeee;
  --pale-text: #949494;
  --dark-text: #4d4d4d;
  --black: #0d0d0d;
}

html {
  font-size: 16px;
  background-color: var(--bg-color);
  font-family: nf;
}
body {
  background-color: var(--bg-color);
  font-family: nf;
  flex: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 20px var(--pale-text);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin: 10px;
}

li a {
  margin-left: 15px;
  font-size: 0.8rem;
  color: var(--dark-text);
  font-family: mf;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  background-color: var(--bg-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1;
  position: absolute;
}

.dd-item {
  padding: 12px 16px;
}

button {
  background-color: rgb(12, 100, 224);
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button i {
  color: #710df4;
  font-size: 1.1rem;
}

button:hover {
  opacity: 0.5;
}

li:hover > a {
  color: rgb(172, 13, 111);
}

.item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
.dd-item:hover {
  background-color: #e1e1e1;
}

i {
  color: var(--primary-color);
  padding: 10px;
  font-size: 1.3rem;
}

.open-menu,
.close-menu {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mainMenu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  transition: 0.5s;
  display: none;
}

main {
  width: 80%;
  margin: 30px auto;
}

.sec-introduce,
.sec-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.sec-content {
  height: 100px;
  width: 90%;
  border-radius: 20px;
  margin: 10px;
  background-size: cover;
}

.low-opacity-black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-content p {
  color: #ffffff;
  font-size: 0.8rem;
  font-family: mf;
  margin: 5px 10px;
  text-align: center;
}

strong {
  color: var(--primary-color);
}

.desc {
  font-size: 0.8rem;
  color: var(--black);
  margin: 10px 0;
  line-height: 200%;
  text-align: center;
}

.about-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 30px;
  flex-wrap: wrap;
}

.about-img {
  width: 56px;
  height: 56px;
  margin: auto;
  display: block;
}

.about-item {
  flex: 1 1 100px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.bg-red {
  background-color: var(--primary-color);
}
.bg-white {
  background-color: var(--bg-color);
}

.white {
  color: #ffffff;
}

.sec-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex: 1 1 200px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.product-item:hover {
  transform: scale(1.15, 1.15);
}

.product-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.data {
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 0 0 20px 20px;
}

.product-item .title {
  font-family: bf;
}

.product-item .desc {
  text-align: justify;
  line-height: 150%;
  margin: 25px 0;
}

.cost {
  color: var(--primary-color);
  font-size: 0.75rem;
  font-family: mf;
}

.product-item button {
  font-family: mf;
  color: var(--bg-color);
  font-size: 0.75rem;
  padding: 5px 15px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer img {
  width: 40px;
  margin: 5px;
  filter: saturate(0);
  transition: 0.3s;
}

footer img:hover {
  filter: saturate(1);
}

footer p {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .mainMenu {
    display: flex;
    height: 0;
    flex-direction: row;
    position: relative;
    background-color: transparent;
  }

  .open-menu,
  .close-menu {
    display: none;
  }

  .sec-introduce {
    flex-direction: row;
  }

  main {
    max-width: 70%;
  }
}
.bi-geo-alt-fill:hover {
  filter: saturate(1);
}
.geo-road {
  flex: 1 1 100px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(34, 16, 80, 0.3);
  border-radius: 10px;
}
.geo-image {
  width: 100%;
  height: 45%;
  margin: auto;
  padding-bottom: 10px;
  display: block;
  border-radius: 10px 0px;
}
.about-map {
  flex: 1 1 100px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(34, 16, 80, 0.3);
  border-radius: 10px;
}
.img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgba(92, 21, 11, 0.3);
}
.img:hover {
  transform: scale(1.15, 1.15);
}
.input-group {
  padding-bottom: 15px;
  margin: 10px 30px;
}
.form {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #776d6d;
  flex-direction: column;
  border-radius: 10px;
}
.form-control {
  width: 70%;
  align-items: center;
}
/* .Images {
  border-radius: 20px;
  max-width: 200px;
  max-height: 200px;
  box-shadow: #0d0d0d;
}
.Images:hover {
  transform: scale(1.3, 1.3);
} */

#picturs {
  background-color: #96e4e4;
  width: 86vw;
  min-height: 20vh;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  padding-top: 10px;
  /* display: flex;
  align-content: space-between;
  justify-content: space-around; */
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 2em;
  /* place-items: center;
  column-gap: 15px; */
  /* padding-top: 20px; */
}
figcaption {
  font-size: 1 rem;
}
.Contact {
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Contact img {
  width: 40px;
  margin: 5px;
  filter: saturate(0);
  transition: 0.3s;
}
.Contact img:hover {
  filter: saturate(1);
}
.btn-get {
  padding-top: 15px;
  display: flex;
}
.btn-get button {
  font-size: 20px;
  font-weight: 400px;
}
#explanation {
  width: 80%;
  border-radius: 20px;
  background-color: #746e6e;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.productItem {
  flex: 1 1 200px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.productItem:hover {
  transform: scale(1.15, 1.15);
}

.productItem img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.productItem p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-style: italic;
  text-overflow: clip;
  display: inline;
  text-overflow: ellipsis;
}
.back {
  color: black;
}
